

<%= render 'shared/title-center'%>

<div class="grid">
    <%= render 'shared/card'%>
    <%= render 'shared/card'%>
    <%= render 'shared/card'%>
    <%= render 'shared/card'%>
    <%= render 'shared/card'%>
    <%= render 'shared/card'%>
    <%= render 'shared/card'%>
    <%= render 'shared/card'%>
    <%= render 'shared/card'%>
    <%= render 'shared/card'%>
</div>
