

<%= render 'shared/title-center'%>
<%= render render 'shared/card', instrument: @instrument%>

<div class="grid">
    <%= render 'shared/card'%>
    <%= render 'shared/card'%>
    <%= render 'shared/card'%>
    <%= render 'shared/card'%>
    <%= render 'shared/card'%>
    <%= render 'shared/card'%>
    <%= render 'shared/card'%>
    <%= render 'shared/card'%>
    <%= render 'shared/card'%>
    <%= render 'shared/card'%>
</div>
