<%= link_to "New instrument", new_instrument_path if policy(Instrument).new? %>

<%= render 'shared/title-center'%>

<div class="grid">
    <% @instruments.each do |instrument| %>

    <div class="card">
  <% if instrument.photo != nil %>
    <%= cl_image_tag instrument.photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
  <div class="card-infos">
    <div>
      <h2><%= instrument.name %></h2>
      <div class="text-card">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse  rem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lect rem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lect rem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectrem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lect lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor</p>
      </div><br>
      <h2 class="card-pricing">€<%= instrument.price %></h2>
    </div>
  </div>
</div>
 <% end %>
</div>
