<div data-controller='flatpickr'>
  <div class="main-card">
    <div class="main-card-left">
      <% if @instrument.photo != nil %>
        <%= cl_image_tag @instrument.photo.key, height: 550, width: 300, crop: :pad %>
      <% end %>
    </div>
    <div class="main-card-right">
      <h1 class="main-card-text"><%= @instrument.name %></h1>
      <h2 class="main-card-text">Owner: <%= @instrument.user.username %></h2>
      <h2 class="main-card-text">Address: <%= @instrument.address %></h2>
      <p class="main-card-text"> Description: <%= @instrument.description %> </p>
      <h6 class="main-card-text" data-flatpickr-target="price" value='<%= @instrument.price %>'><strong >price : <%= @instrument.price %>€ / day</strong></h6>
      <h6 class="main-card-text"><strong data-flatpickr-target="totalPrice" value='<%= @instrument.price%>' >total price : <%= @instrument.price %>€</strong></h6>
      <div class="main-card-text-inline">
      <!-- A changer par Julien -->
  <%= simple_form_for [@instrument, @rental],
                      html: {
                      } do |f| %>
    <%= f.input :start_date,
                as: :string,
                input_html: {
                  data: {
                    flatpickr_target: 'startDateInput',
                    action: "flatpickr#start"
  } } %>
    <%= f.input :end_date,
                as: :string,
                input_html: {
                  data: {
                    flatpickr_target: 'endDateInput',
                    id: 'haha'
                  }
  } %>
    <%= f.submit 'Book now!', class: 'btn btn-primary' %>
  <% end %>

      <!-- A changer par Julien -->
    </div>
  </div>

  <% if policy(@instrument).edit? %>
    <%= link_to "Edit this instrument", edit_instrument_path(@instrument) %> |
  <% end %>
  <!-- [...] -->
  <%= button_to "Destroy this instrument", @instrument, method: :delete if policy(@instrument).destroy? %>

</div>
